<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onCloseMenu()">
        <mat-icon>home</mat-icon>
        <span class="navigation-list-label">Inicio</span>
    </a>
    <a mat-list-item routerLink="/region" (click)="onCloseMenu()">
        <mat-icon>place</mat-icon>
        <span class="navigation-list-label">Regiones</span>
    </a>
    <a mat-list-item routerLink="/municipality" (click)="onCloseMenu()">
        <mat-icon>domain</mat-icon>
        <span class="navigation-list-label">Municipios</span>
    </a>
</mat-nav-list>
