<hr>
<div class="col-md-12" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Regiones de colombia</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/regiones_de_colombia2.jpg" alt="Foto imagenes de regiones_de_colombia">
            <mat-card-content>
                <p>
                    En esta sección podra ver, agregar, editar y eliminar las regiones de colombia que hay disponibles en nuestro sistema.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/region">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Municipios de colombia</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img-fluid" src="../../../assets/municipios_de_colombia.jpg" alt="Foto imagenes de regiones_de_colombia">
            <mat-card-content>
                <p>
                    En esta sección podra ver, agregar, editar y eliminar los municipio de colombia que hay disponibles en nuestro sistema.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/municipality">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-2"></div>
</div>
