<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="60%">
        <input type="text" matInput placeholder="Filtrar por nombre" (keyup)="filter($event)">
    </mat-form-field>

</div>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="orderColumn($event)">
    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="deployColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: deployColumns"></mat-row>
</mat-table>

<mat-paginator (page)="eventPager($event)" #pagination [pageSize]="recordsByPage" [pageSizeOptions]="pageCombo" [length]="totalRecords"></mat-paginator>

<button mat-fab id="btn-add" color="warn" (click)="openDialog()">
<mat-icon>add</mat-icon>
</button>
